name: rust-lint

on:
  pull_request:

permissions:
  contents: read

jobs:
  paths-filter:
    runs-on: ubuntu-latest
    outputs:
      skip: ${{ steps.paths-filter.outputs.skip }}
    steps:
      - uses: hakadoriya-actions/paths-filter-alternative@v1.0.1
        id: paths-filter
        with:
          paths: |-
            # If any of these regular expressions match, it returns skip=false
            # This setting takes precedence over paths-ignore
            ^\.github/workflows/rust-lint\.yml$
            ^Cargo\.toml$
            ^Cargo\.lock$
            ^src/.*\.rs$
  # > Note: A job that is skipped will report its status as "Success".
  # > It will not prevent a pull request from merging, even if it is a required check.
  # ref. https://docs.github.com/en/actions/using-jobs/using-conditions-to-control-job-execution#overview
  rust-lint:
    runs-on: ubuntu-latest
    needs: paths-filter
    if: ${{ needs.paths-filter.outputs.skip != 'true' }}
    steps:
      - uses: actions/checkout@v6
      - name: dtolnay/rust-toolchain@stable
        uses: dtolnay/rust-toolchain@4be9e76fd7c4901c61fb841f559994984270fce7
      - name: Restore Cargo cache
        id: cache-cargo-restore
        uses: actions/cache/restore@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: cargo-${{ runner.os }}-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            cargo-${{ runner.os }}-
      - name: Restore build cache
        id: cache-target-restore
        uses: actions/cache/restore@v4
        with:
          path: target/
          key: target-${{ runner.os }}-${{ hashFiles('**/Cargo.lock') }}-${{ hashFiles('**/*.rs') }}
          restore-keys: |
            target-${{ runner.os }}-${{ hashFiles('**/Cargo.lock') }}-
            target-${{ runner.os }}-
      - name: Lint
        run: |
          cargo clippy --all-features --all-targets
      - name: Save Cargo cache
        if: steps.cache-cargo-restore.outputs.cache-hit != 'true'
        uses: actions/cache/save@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: ${{ steps.cache-cargo-restore.outputs.cache-primary-key }}
      - name: Save build cache
        if: steps.cache-target-restore.outputs.cache-hit != 'true'
        uses: actions/cache/save@v4
        with:
          path: target/
          key: ${{ steps.cache-target-restore.outputs.cache-primary-key }}
