name: rust-test

on:
  pull_request:

permissions:
  contents: read

jobs:
  paths-filter:
    runs-on: ubuntu-latest
    outputs:
      skip: ${{ steps.paths-filter.outputs.skip }}
    steps:
      - uses: hakadoriya-actions/paths-filter-alternative@v1.0.1
        id: paths-filter
        with:
          paths: |-
            # If any of these regular expressions match, it returns skip=false
            # This setting takes precedence over paths-ignore
            ^\.github/workflows/rust-test\.yml$
            ^Cargo\.toml$
            ^Cargo\.lock$
            ^src/.*\.rs$
  # > Note: A job that is skipped will report its status as "Success".
  # > It will not prevent a pull request from merging, even if it is a required check.
  # ref. https://docs.github.com/en/actions/using-jobs/using-conditions-to-control-job-execution#overview
  rust-test:
    runs-on: ubuntu-latest
    needs: paths-filter
    if: ${{ needs.paths-filter.outputs.skip != 'true' }}
    steps:
      - uses: actions/checkout@v6
      - name: dtolnay/rust-toolchain@stable
        uses: dtolnay/rust-toolchain@4be9e76fd7c4901c61fb841f559994984270fce7
        with:
          components: llvm-tools-preview
      - name: taiki-e/install-action@cargo-llvm-cov
        uses: taiki-e/install-action@9fef977cc78d9c6fecc249b5ee8f282a3a603584
      - name: Restore Cargo cache
        id: cache-cargo-restore
        uses: actions/cache/restore@v5
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: cargo-${{ runner.os }}-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            cargo-${{ runner.os }}-
      - name: Restore build cache
        id: cache-target-restore
        uses: actions/cache/restore@v5
        with:
          path: target/
          key: target-${{ runner.os }}-${{ hashFiles('**/Cargo.lock') }}-${{ hashFiles('**/*.rs') }}
          restore-keys: |
            target-${{ runner.os }}-${{ hashFiles('**/Cargo.lock') }}-
            target-${{ runner.os }}-
      - name: Build check
        run: |
          cargo check --all-features --all-targets
      - name: Run tests + collect coverage (lcov)
        shell: bash
        run: |
          set -Eeuo pipefail -x
          cargo llvm-cov --workspace --lcov --output-path lcov.info
      - name: codecov/codecov-action@v5
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: lcov.info
          fail_ci_if_error: true
      - name: Save Cargo cache
        if: steps.cache-cargo-restore.outputs.cache-hit != 'true'
        uses: actions/cache/save@v5
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: ${{ steps.cache-cargo-restore.outputs.cache-primary-key }}
      - name: Save build cache
        if: steps.cache-target-restore.outputs.cache-hit != 'true'
        uses: actions/cache/save@v5
        with:
          path: target/
          key: ${{ steps.cache-target-restore.outputs.cache-primary-key }}
